{% extends 'AppBundle:client:standard_layout.html.twig' %}

{% block header %}
    <header class="masthead" style="background-image: url('{{ asset('img/schuze.jpg') }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ page.title }}</h1>
                        <span class="subheading">{{ page.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.abstract }}
                            </h3>
                        </a>
                        <p class="post-meta">Přidal
                            <a href="#">{{ post.author }}</a>
                            {{ post.createdAt|date }}</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    {#<a class="btn btn-primary float-right" href="#">Starší příspěvky &rarr;</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
